[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "tmux/.tmux/plugins/tpm"]
    path = tmux/.tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux"]
  path = tmux/tmux./plugins/tmux
  url = https://git::@github.com/tmux/tmux.git
[submodule "tmux/.tmux/plugins/tmux-powerkit"]
	path = tmux/.tmux/plugins/tmux-powerkit
	url = https://github.com/fabioluciano/tmux-powerkit.git
[submodule "tmux/.tmux/plugins/tmux-themepack"]
	path = tmux/.tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
